.IG { 

    font-family: 'Raleway', sans-serif; 
    
}

.container {


    contain: flex;
    
    
}

.container2 {


    
    background-color: lightgrey;
    margin:auto;
    

    
}

.card {

    margin: auto;
 
}




