.IG { 

    font-family: 'Raleway', sans-serif; 
    
}

.container {

    display:flex;    
    
    
}

.container3 {

    margin-left:50rem;

}

.container2 {


    
    background-color: lightgrey;
    margin:auto;
    

    
}

.card {

    margin: auto;
 
}

.form {

    align-items: flex-end;
}

.buttom {

margin-left: 500px;

}


